
.maintext {
  padding-left: 130px;
  padding-right: 130px;
  font-size: 30px;
}

.lubricant{
  font-weight: bold;
  font-size: 35px;
}

.aboutme{
  padding-top: 150px;
}

.aboutwebsite{
  color: white;
  padding-top: 150px;
  padding-bottom: 150px;
}

.aboutmeKnowledge {
   font-size: 20px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
.aboutmeLink {
  display: flex;
  justify-content: right;
  padding-right: 50px;
  text-decoration: none;
  color: white;
}

/* .img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
} */

@media screen and (max-width: 768px) {
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .aboutmeLink {
    padding-left: 200px;
  }
  .maintext {
    font-size: 20px;
    padding: 15px;
  }
}
