.button{
    background-color: rgb(193, 179, 161);
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  

  @media screen and (max-width: 768px) {
  
   .button {
    font-size: 18px;
  } 
  }
  
  /* Mobile styles */
  @media screen and (max-width: 480px) {
   
    .button {
        font-size: 16px;
      }
  }
