.allimg{
    display: flex;
    gap: 20px;
   justify-content: flex-end;
}

.img{  
   object-fit: cover;
   max-width: 22%;
  
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.casualdinnerlist{
    list-style: none;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 768px;
        flex-wrap: wrap;
      }
   .casualdinnerlist {
    font-weight: normal;
  } 
  
  }
  
  /* Mobile styles */
  @media screen and (max-width: 480px) {
    .container {
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 480px;
        flex-direction: column;
      }
    .casualdinnerlist {
        font-weight: normal;
      } 
   
  }
