*:focus {
  background-color: #9e9d97;
  color: #ffffff;
}

.background {
  /* padding-right: 150px;
padding-top: 20px;
padding-bottom: 20px;
   */
  text-align: center;
}
.categoryContainer {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-right: 50px;
  padding-top: 50px;
}

.categoryList {
  list-style: none;
  text-align: left;
}

.categoryItem {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
    margin: 0 auto;
    max-width: 768px;
    flex-wrap: wrap;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .container {
    display: block;
    margin: 0 auto;
    max-width: 480px;
    flex-direction: column;
  }
}
