*:focus {
  background-color: #9e9d97;
  color: #ffffff;
}

.background{
    padding-right: 150px;
padding-top: 20px;
padding-bottom: 20px;
  
}

.categoryList{
    list-style: none;
}




@media screen and (max-width: 768px) {
  
    .container {
        display: block;
        margin: 0 auto;
        text-align: center;
      max-width: 768px;
      flex-wrap: wrap;
    }
    .background{
        padding-right: 25px;
  
      
    }
    
  }
  
  /* Mobile styles */
  @media screen and (max-width: 480px) {
    
    .container {
        display: block;
        margin: 0 auto;
        text-align: center;
      max-width: 480px;
      flex-direction: column;
    }
  
    .background{
        padding-right: 35px;
  
      
    }
  }