.text {
  margin-top: 0%;
  color: rgb(249, 249, 250);
}

.img {
  max-width: 100%;
  height: auto;
}

.article{
  margin: 200px;
}

.card {
  background-color: white;
   padding: 3rem 5rem;
}





@media screen and (max-width: 768px) {

  .article{
    margin: 50px;
  }

  .card {
    background-color: white;
     padding: 15px;
  }

  .welcomeText{
    font-size: 15px;
  }
  
  
  
}


@media screen and (max-width: 480px) {
  .article{
    margin: 10px;
  }

  .articleText{
    font-size: 5px;
    }
  
}