.allimg{
    display: flex;
    gap: 20px;
   justify-content: flex-end;
}

.img{   
   object-fit: cover;
   max-width: 22%;
  
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.foodlist{
    list-style: none;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 768px) {
    .foodlist {
     font-weight: normal;
   } 
   }
   
   /* Mobile styles */
   @media screen and (max-width: 480px) {
     .foodlist {
         font-weight: normal;
       } 
   }