@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto+Mono&family=Roboto:wght@300;900&display=swap');
body{
  font-family: 'Concert One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
background-color: black;
}

.MainApp {
  text-align: center;
}

*:focus {
  background-color: #9e9d97;
  color: #ffffff;
}

.skipLink {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

.skipLink:focus {
  position: static;
  width: auto;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    flex-wrap: wrap;
  }
  .allimg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    flex-direction: column;
  }

  .allimg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}
