.footerNav{
    display: flex;
    gap: 50px;
   justify-content: center;

padding-top: 20px;
background-color:  rgb(193, 179, 161);
}

/* @media screen and (max-width: 768px) {
    .container {
      max-width: 768px;
      flex-wrap: wrap;
    }
    h3 {
        font-size: 18px;
    }
    
  }
  

  @media screen and (max-width: 480px) {
    .container {
      max-width: 480px;
      flex-direction: column;
    }
  
    h3{
        font-size: 16px;
    }
  } */