.mainheader {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  padding-right: 50px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20%;
}


.button {
  background-color: rgb(193, 179, 161);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 20px;
}

@media screen and (max-width: 1000px) {
  .mainheader {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .img {
    display: none;
  }

  .button {
    font-size: 10px;
  }

  .mainheader {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .img {
    display: none;
  }

  .mainheader {
    display: flex;
    gap: 10px;
  }
}